body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:866px;
}
#u4643 {
  position:absolute;
  left:10px;
  top:11px;
  width:430px;
  height:866px;
}
#u4644 {
  position:absolute;
  left:2px;
  top:425px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4646 {
  position:absolute;
  left:40px;
  top:110px;
  width:375px;
  height:667px;
}
#u4647 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u4650 {
  position:absolute;
  left:40px;
  top:110px;
  width:375px;
  height:64px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u4651 {
  position:absolute;
  left:0px;
  top:34px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u4652 {
  position:absolute;
  left:46px;
  top:115px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u4653 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4654 {
  position:absolute;
  left:40px;
  top:138px;
  width:375px;
  height:591px;
  overflow:hidden;
}
#u4654_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:591px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4654_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4655 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:639px;
  overflow:hidden;
}
#u4655_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:639px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u4655_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1313px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4656 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1313px;
}
#u4657 {
  position:absolute;
  left:2px;
  top:648px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4658 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4659 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  overflow:hidden;
}
#u4659_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4659_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#CCCCCC;
}
#u4660 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  font-size:48px;
  color:#CCCCCC;
}
#u4661 {
  position:absolute;
  left:2px;
  top:132px;
  width:371px;
  word-wrap:break-word;
}
#u4662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4662 {
  position:absolute;
  left:152px;
  top:271px;
  width:10px;
  height:10px;
}
#u4663 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4664 {
  position:absolute;
  left:184px;
  top:271px;
  width:10px;
  height:10px;
}
#u4665 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4666 {
  position:absolute;
  left:214px;
  top:271px;
  width:10px;
  height:10px;
}
#u4667 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4659_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4659_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#CCCCCC;
}
#u4668 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  font-size:48px;
  color:#CCCCCC;
}
#u4669 {
  position:absolute;
  left:2px;
  top:132px;
  width:371px;
  word-wrap:break-word;
}
#u4670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4670 {
  position:absolute;
  left:150px;
  top:270px;
  width:10px;
  height:10px;
}
#u4671 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4672 {
  position:absolute;
  left:182px;
  top:270px;
  width:10px;
  height:10px;
}
#u4673 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4674 {
  position:absolute;
  left:212px;
  top:270px;
  width:10px;
  height:10px;
}
#u4675 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4659_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4659_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#CCCCCC;
}
#u4676 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  font-size:48px;
  color:#CCCCCC;
}
#u4677 {
  position:absolute;
  left:2px;
  top:132px;
  width:371px;
  word-wrap:break-word;
}
#u4678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4678 {
  position:absolute;
  left:150px;
  top:270px;
  width:10px;
  height:10px;
}
#u4679 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4680 {
  position:absolute;
  left:182px;
  top:270px;
  width:10px;
  height:10px;
}
#u4681 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4682 {
  position:absolute;
  left:212px;
  top:270px;
  width:10px;
  height:10px;
}
#u4683 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
}
#u4685 {
  position:absolute;
  left:21px;
  top:25px;
  width:12px;
  height:1px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u4686 {
  position:absolute;
  left:3px;
  top:-8px;
  width:5px;
  visibility:hidden;
  -webkit-transform:rotate(-225deg);
  -moz-transform:rotate(-225deg);
  -ms-transform:rotate(-225deg);
  transform:rotate(-225deg);
  word-wrap:break-word;
  transform-origin:3px 8.5px;
  -ms-transform-origin:3px 8.5px;
  -moz-transform-origin:3px 8.5px;
  -webkit-transform-origin:3px 8.5px;
}
#u4687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
}
#u4687 {
  position:absolute;
  left:21px;
  top:18px;
  width:12px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u4688 {
  position:absolute;
  left:3px;
  top:-8px;
  width:5px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:3px 8.5px;
  -ms-transform-origin:3px 8.5px;
  -moz-transform-origin:3px 8.5px;
  -webkit-transform-origin:3px 8.5px;
}
#u4689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4689 {
  position:absolute;
  left:330px;
  top:9px;
  width:20px;
  height:20px;
}
#u4690 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4691 {
  position:absolute;
  left:285px;
  top:10px;
  width:20px;
  height:20px;
}
#u4692 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4693 {
  position:absolute;
  left:31px;
  top:330px;
  width:319px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4694 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u4695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u4695 {
  position:absolute;
  left:31px;
  top:370px;
  width:171px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u4696 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u4697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u4697 {
  position:absolute;
  left:31px;
  top:394px;
  width:48px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u4698 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u4699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u4699 {
  position:absolute;
  left:81px;
  top:396px;
  width:16px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u4700 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u4701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4701 {
  position:absolute;
  left:0px;
  top:423px;
  width:375px;
  height:46px;
}
#u4702 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4703 {
  position:absolute;
  left:31px;
  top:437px;
  width:85px;
  height:18px;
  color:#999999;
}
#u4704 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
}
#u4706 {
  position:absolute;
  left:329px;
  top:442px;
  width:12px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4707 {
  position:absolute;
  left:3px;
  top:-8px;
  width:5px;
  visibility:hidden;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  word-wrap:break-word;
  transform-origin:3px 8.5px;
  -ms-transform-origin:3px 8.5px;
  -moz-transform-origin:3px 8.5px;
  -webkit-transform-origin:3px 8.5px;
}
#u4708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:2px;
}
#u4708 {
  position:absolute;
  left:329px;
  top:449px;
  width:12px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4709 {
  position:absolute;
  left:3px;
  top:-8px;
  width:5px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
  transform-origin:3px 8.5px;
  -ms-transform-origin:3px 8.5px;
  -moz-transform-origin:3px 8.5px;
  -webkit-transform-origin:3px 8.5px;
}
#u4710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:2px;
}
#u4711 {
  position:absolute;
  left:64px;
  top:486px;
  width:61px;
  height:1px;
}
#u4712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4713 {
  position:absolute;
  left:162px;
  top:479px;
  width:59px;
  height:18px;
}
#u4714 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:2px;
}
#u4715 {
  position:absolute;
  left:239px;
  top:488px;
  width:61px;
  height:1px;
}
#u4716 {
  position:absolute;
  left:2px;
  top:-8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4717 {
  position:absolute;
  left:0px;
  top:507px;
  width:375px;
  height:157px;
  overflow:hidden;
}
#u4717_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:157px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4717_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4718 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:187px;
  overflow:hidden;
}
#u4718_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:187px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4718_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4720 {
  position:absolute;
  left:2px;
  top:112px;
  width:55px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u4721 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4722 {
  position:absolute;
  left:0px;
  top:132px;
  width:43px;
  height:18px;
  color:#FF0000;
}
#u4723 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u4724 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:105px;
  font-size:16px;
  color:#CCCCCC;
}
#u4725 {
  position:absolute;
  left:2px;
  top:43px;
  width:86px;
  word-wrap:break-word;
}
#u4726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4727 {
  position:absolute;
  left:153px;
  top:112px;
  width:55px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u4728 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4729 {
  position:absolute;
  left:151px;
  top:132px;
  width:43px;
  height:18px;
  color:#FF0000;
}
#u4730 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u4731 {
  position:absolute;
  left:152px;
  top:0px;
  width:90px;
  height:105px;
  font-size:16px;
  color:#CCCCCC;
}
#u4732 {
  position:absolute;
  left:2px;
  top:43px;
  width:86px;
  word-wrap:break-word;
}
#u4733 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4734 {
  position:absolute;
  left:306px;
  top:112px;
  width:55px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u4735 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4736 {
  position:absolute;
  left:304px;
  top:132px;
  width:47px;
  height:18px;
  color:#FF0000;
}
#u4737 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u4738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u4738 {
  position:absolute;
  left:305px;
  top:0px;
  width:90px;
  height:105px;
  font-size:16px;
  color:#CCCCCC;
}
#u4739 {
  position:absolute;
  left:2px;
  top:43px;
  width:86px;
  word-wrap:break-word;
}
#u4740 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4741 {
  position:absolute;
  left:458px;
  top:112px;
  width:55px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u4742 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4743 {
  position:absolute;
  left:456px;
  top:132px;
  width:43px;
  height:18px;
  color:#FF0000;
}
#u4744 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u4745 {
  position:absolute;
  left:457px;
  top:0px;
  width:90px;
  height:105px;
  font-size:16px;
  color:#CCCCCC;
}
#u4746 {
  position:absolute;
  left:2px;
  top:43px;
  width:86px;
  word-wrap:break-word;
}
#u4747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4748 {
  position:absolute;
  left:611px;
  top:112px;
  width:55px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u4749 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4750 {
  position:absolute;
  left:609px;
  top:132px;
  width:43px;
  height:18px;
  color:#FF0000;
}
#u4751 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u4752 {
  position:absolute;
  left:610px;
  top:0px;
  width:90px;
  height:105px;
  font-size:16px;
  color:#CCCCCC;
}
#u4753 {
  position:absolute;
  left:2px;
  top:43px;
  width:86px;
  word-wrap:break-word;
}
#u4754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4755 {
  position:absolute;
  left:763px;
  top:112px;
  width:55px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u4756 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4757 {
  position:absolute;
  left:761px;
  top:132px;
  width:43px;
  height:18px;
  color:#FF0000;
}
#u4758 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u4759 {
  position:absolute;
  left:762px;
  top:0px;
  width:90px;
  height:105px;
  font-size:16px;
  color:#CCCCCC;
}
#u4760 {
  position:absolute;
  left:2px;
  top:43px;
  width:86px;
  word-wrap:break-word;
}
#u4761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4761 {
  position:absolute;
  left:0px;
  top:683px;
  width:375px;
  height:70px;
}
#u4762 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4763 {
  position:absolute;
  left:31px;
  top:709px;
  width:30px;
  height:18px;
  color:#999999;
}
#u4764 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4765 {
  position:absolute;
  left:285px;
  top:709px;
  width:30px;
  height:18px;
  color:#999999;
}
#u4766 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4767_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:6px;
}
#u4767 {
  position:absolute;
  left:31px;
  top:731px;
  width:30px;
  height:3px;
}
#u4768 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u4769 {
  position:absolute;
  left:17px;
  top:744px;
  width:323px;
  height:1px;
}
#u4770 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:186px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#999999;
}
#u4771 {
  position:absolute;
  left:0px;
  top:755px;
  width:375px;
  height:186px;
  font-size:48px;
  color:#999999;
}
#u4772 {
  position:absolute;
  left:2px;
  top:66px;
  width:371px;
  word-wrap:break-word;
}
#u4773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:186px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#999999;
}
#u4773 {
  position:absolute;
  left:0px;
  top:941px;
  width:375px;
  height:186px;
  font-size:48px;
  color:#999999;
}
#u4774 {
  position:absolute;
  left:2px;
  top:66px;
  width:371px;
  word-wrap:break-word;
}
#u4775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:186px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#999999;
}
#u4775 {
  position:absolute;
  left:0px;
  top:1127px;
  width:375px;
  height:186px;
  font-size:48px;
  color:#999999;
}
#u4776 {
  position:absolute;
  left:2px;
  top:66px;
  width:371px;
  word-wrap:break-word;
}
#u4777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4778 {
  position:absolute;
  left:40px;
  top:729px;
  width:375px;
  height:48px;
}
#u4779 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4780 {
  position:absolute;
  left:40px;
  top:729px;
  width:375px;
  height:48px;
}
#u4781 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4782 {
  position:absolute;
  left:293px;
  top:729px;
  width:122px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
}
#u4783 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
#u4784 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u4785 {
  position:absolute;
  left:56px;
  top:744px;
  width:21px;
  height:19px;
  color:#0099FF;
}
#u4786 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4787 {
  position:absolute;
  left:73px;
  top:739px;
  width:10px;
  height:10px;
  color:#FFFFFF;
}
#u4788 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  word-wrap:break-word;
}
